.vayu-wrapper-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}
.vayu-wrapper-banner > div{
    width: 50%;
}
.wp-core-ui .vayu-wrapper-banner .button-primary,
.wp-core-ui .vayu-wrapper-banner .button{
    padding: 8px 27px !important;
    min-width: 154px;
    background: #6C1BC3;
    outline: 0;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 4px;
    border-color: #6C1BC3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
}
.wp-core-ui .vayu-wrapper-banner .button{
    margin-right: 21px;
}
.wp-core-ui .vayu-wrapper-banner .button:focus{
    outline: 0;
    box-shadow: 0 0 0 1px #6C1BC3;
}
.wp-core-ui .vayu-wrapper-banner .button.learn-more{
    background: #FFF;
    color: #6C1BC3;
}
.vayu-wrapper-banner .title{
    font-size: 29px;
    line-height: 39px;
    margin: 0;
}
.vayu-wrapper-banner img{
    max-width: 100%;
}
.vayu-wrapper-banner p{
    color: #494545;
    font-size: 18px;
    margin: 29px 0;
    line-height: 27px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #install-vayu-blocks .loader {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    display: none;
  }