<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"vayu-x/hero"} /-->

<!-- wp:pattern {"slug":"vayu-x/service"} /-->

<!-- wp:pattern {"slug":"vayu-x/brands"} /-->

<!-- wp:pattern {"slug":"vayu-x/about"} /-->

<!-- wp:pattern {"slug":"vayu-x/pricing"} /-->

<!-- wp:pattern {"slug":"vayu-x/testimonial"} /-->

<!-- wp:pattern {"slug":"vayu-x/ribbon"} /-->

<!-- wp:pattern {"slug":"vayu-x/blog"} /-->
<!-- wp:pattern {"slug":"vayu-x/woocommerce"} /-->




<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->